.Loader {
  display: block;
  margin: auto;
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transofrm: rotate(360deg);
    }
  }
}
